body{
	font-family: "Arial", monospace;
}

p
{
	font-size: 13px;
}
h1
{
	font-size: 32px;
	padding-bottom:20px;
}
h2
{
	font-size: 14px;
}

h3
{
	font-size: 20px;
}

canvas
{
	width: 100%;
	height: 100%;
}
div
{
	position: fixed;
	padding: 10px;
}

p#credits{
	color: white;
}

p#controls{
	text-align:left !important;
	margin-left:40%;
}

div#message{
	position: fixed;
	bottom:400px;
	left:0px;
	height:30px;
	width:100%;
	text-align:center;
	color:white;

	font-size: 18px;
}

table#InfoOutput{
	table-layout: fixed;
	margin-left: auto;
    margin-right: auto;
	bottom:400px;
	height:30px;
	color:white;
	width: 900px;
	font-size: 18px;
}

div#startScreen{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	text-align:center;
	color:orange;
}

.modeButton {
    font-size: 24px;
    font-weight: bold;
	color:orange;
    text-align: center;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border: none;
    margin: 5px;
}

.modeButton:hover {
    background-color: orange;
	color:black;
}


