body{
	font-family: "Arial", monospace;
}

p
{
	font-size: 13px;
}
h1
{
	font-size: 32px;
	padding-bottom:20px;
}

h1#clickStart{
	font-size: 30px;
	cursor: pointer;
}

h1#clickStart:hover{
	color:#a60000;
	cursor: pointer;
}

h2
{
	font-size: 14px;
}
canvas
{
	width: 100%;
	height: 100%;
}
div
{
	position: fixed;
	padding: 10px;
}

p#credits{
	color: white;
}

p#controls{
	text-align:left !important;
	margin-left:40%;
}

div#message{
	position: fixed;
	bottom:20px;
	left:0px;
	height:30px;
	width:100%;
	text-align:center;
	color:white;

	font-size: 18px;
}

div#startScreen{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	text-align:center;
	color:orange;
}


